* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;

  button {
    background-color: #303642;
    width: fit-content;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 1rem auto;
  }

  button:hover {
    transform: scale(1.05);
  }
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  height: 10vh;
  background-color: rgba(27, 27, 27, 0.425);

  .level {
    flex-grow: 1;
    font-size: 2rem;
  }

  .score-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }
}

main {
  text-align: center;
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    text-align: center;
    margin: 1rem;
  }

  li {
    line-height: 2rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    background-color: #b34538;
    border: 10px solid #303642;
    padding: 2rem;
    box-shadow: 3px 4px 15px #888888;
  }
}

.card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  flex-wrap: wrap;
  width: 80%;
  margin: 2rem auto;

  img {
    width: 150px;
  }

  .card-container {
    background-color: #b34538;
    padding: 0.8rem;
    margin: 0.5rem;
    cursor: pointer;
  }

  .card-container:hover {
    transform: scale(1.1);
  }
}
